.applied-filter {
    background-color: $c-white;
    border: 1px solid $c-neutro300;
    border-radius: get-rems(5px);
    color: $c-neutro700;
    font-size: 12px;
    font-weight: 500;
    margin: 0 space(.5) space(.5) 0;
    padding: .5rem;

    &__icon {
        svg {
            margin-right: space(.2);
        }
    }

    svg {
        width: get-rems(15px);
    }

    .u-close {
        cursor: pointer;
        
        svg {
            pointer-events: none;
            margin-left: space(.4);
        }
    }
}
