.billboard {
    // .touch & { height: 90vh; }

    &__buttons {
        background-color: $c-white;
        border-bottom: 1px solid $c-border;
        border-top: 1px solid $c-border;
        padding: space(.6) 0;
    }

    &__content {
        min-height: get-rems(400px);

        @include breakpoint($s768) {
            min-height: get-rems(250px);
        }
    }

    &__text {
        color: $c-white;
        width: 100%;
        z-index: 1;
        
        @include breakpoint($s768) {
            width: 60%;
        }
    }

    &__year {
        margin-right: space(.5);
        width: get-rems(147px);
    }

    @include breakpoint($s768) {
        background-position-y: center;
    }
}
