.cta {
    @extend %button;
    @extend %textSmall;

    background-color: $c-secondary100;
    border: 1px solid $c-secondary100;
    border-radius: get-rems(25px);
    color: $c-white;
    font-weight: 700;
    padding: get-rems(6px) get-rems(24px);

    .u-icon {
        svg {
            fill: currentColor;
            margin-right: space(.25);

            @include square(12px);
        }
    }

    &:hover {
        background-color: $c-secondary200;
        border-color: $c-secondary200;
        color: $c-white;
    }

    &:focus {
        background-color: $c-secondary200;
        border-color: $c-secondary200;
    }

    &[disabled],
    &:disabled {
        background-color: $c-neutro200;
        border-color: $c-neutro200;
        color: $c-neutro600;
        pointer-events: none;
    }

    &--hollow {
        background-color: transparent;
        border-color: $c-secondary100;
        color: $c-secondary100;

        &:hover{
            background-color: transparent;
            border-color: $c-secondary200;
            color: $c-secondary200;
        }

        &:focus {
            background-color: transparent;
            border-color: $c-secondary200;
            color: $c-secondary200;
        }

        &:active {
            background-color: transparent;
            border-color: $c-secondary200;
            color: $c-secondary200;
        }

        &[disabled],
        &:disabled {
            background-color: $c-neutro200;
            border-color: $c-neutro200;
            color: $c-neutro600;
            pointer-events: none;
        }
    }
}
