.cta {
    @extend %button;
    @extend %textSmall;

    background-color: $c-secondary200;
    border: 2px solid $c-secondary200;
    border-radius: get-rems(5px);
    color: $c-white;
    font-size: 12px;
    font-weight: 700;
    padding: get-rems(6px) get-rems(24px);

    .u-icon {
        svg {
            fill: currentColor;
            margin-right: space(.25);

            @include square(12px);
        }
    }

    &:hover,
    &:active
     {
        background-color: transparent;
        border: 2px solid $c-secondary200;
        color: $c-secondary200;
    }

    &[disabled],
    &:disabled {
        background-color: $c-neutro700;
        border-color: $c-neutro700;
        color: $c-white;
        pointer-events: none;
    }

    &--secondary {
        background-color: $c-secondary100;
        border: 2px solid $c-secondary100;

        &:hover,
        &:active
         {
            background-color: transparent;
            border: 2px solid $c-secondary100;
            color: $c-secondary100;
        }
    }

    &--hollow {
        background-color: transparent;
        border: 2px solid $c-secondary200;
        color: $c-secondary200;

        &:hover{
            background-color: $c-secondary200;
            border: 2px solid $c-secondary200;
            color: $c-white;
        }

        &:active {
            background-color: transparent;
            border-color: $c-secondary200;
            color: $c-secondary200;
        }

        &[disabled],
        &:disabled {
            background-color: $c-neutro200;
            border-color: $c-neutro200;
            color: $c-neutro600;
            pointer-events: none;
        }
    }
}
