.filters {
    margin-top: space(.5);

    @include breakpoint($s768) {
        margin-top: 0;
    }

    &__title {
        margin: 0 .5rem 1rem .5rem;
        padding: .25rem .5rem;

        @include breakpoint($s768) {
            margin-top: 0;
            padding-top: 0;
        }
    }

    &__close {
        display: inline-block;
        position: absolute;
        right: space();
        top: space();

        svg {
            @include square(20px);

            fill: $c-neutro700;
        }
    }

    &__item {
        margin: 0 .5rem;
        padding: .25rem .5rem;
        position: relative;
        text-decoration: none;

        svg {
            margin-right: space(.25);
            opacity: .7;

            @include square(28px);
        }

        @include breakpoint($s768) {
            padding: .25rem .25rem .5rem 0;
        }
    }

    &__arrow {
        svg {
            fill: $c-neutro700;
            margin-left: space(.25);

            @include square(10px);
        }
    }
}
