.header {
    @include breakpoint($s768) {
        padding: space(1.2) 0;
    }

    &__link {
        color: $c-white;
        text-decoration: none;
        z-index: 2;
    }

    &__link:not(:last-child) {
        margin-right: space(2) !important;
    }

    &__link-color {
        color: $c-secondary100;
    }
}
