.header {
    padding: space(.5) 0;

    @include breakpoint($s768) {
        padding: space(1.2) 0;
    }

    &__link {
        color: $c-white;
        text-decoration: none;
    }

    &__link:not(:last-child) {
        margin-right: space(2) !important;
    }

    &__link-color {
        color: $c-secondary100;
    }

    &__menu {
        height: 100vh;
        background: $c-white;
        left: 0;
        opacity: .5;
        padding-top: space(2.5);
        position: fixed;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        top: 0;
        width: 100%;
        z-index: 2;

        &.active {
            opacity: 1;
            transform: translateY(0);
        }

        @include breakpoint($s768) {
            background: transparent;
            height: auto;
            display: block;
            padding: 0;
            position: relative;
            text-align: right;
            transform: none;
        }
    }

    &__menu-link {
        color: $c-neutro500;
        display: block;
        padding: space(.75);
        text-align: center;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;

        @include breakpoint($s768) {
            color: $c-white;
            cursor: pointer;
            display: inline-block;
            padding: 0;
            text-align: left;
        }
    }

    &__menu-link:not(:last-child) {
        @include breakpoint($s768) {
            margin-right: space(1.5);
        }
    }

    &__menu.active {
        .header__menu-close,
        .header__menu-link {
            opacity: 1;
            transition: opacity 2s, visibility 2s;
            visibility: visible;
        }
    }

    &__menu-hamburger,
    &__menu-close {
        display: inline-block;
        position: absolute;
        right: space();
        top: space();

        svg {
            @include square(20px);

            fill: $c-neutro700;
        }
    }

    &__menu-hamburger svg {
        fill: $c-white;
    }

    &__menu-close {
        top: space();
        height: get-rems(42px);
        opacity: 0;
        right: space();
    }
}
