.header {
    left: 0;
    padding: space() 0;
    top: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint($s768) {
        padding: space(1.2) 0;
    }

    &__logo {
        color: $c-neutro500;
        text-decoration: none;
    }

    &__logo-color {
        color: $c-secondary100;
    }
}
