.table-wiew {
    &__wrapper{
        border: 1px solid $c-neutro300;
        border-radius: get-rems(5px);
        overflow-x: scroll;
    }

    &__spinner {
        height: get-rems(100px);
        position: relative;
    }
}
