/**
 * Tables
 */

// Table expands to full width of containing element
table {
    background: $c-white;
    border-collapse: collapse;
    border-spacing: 0;
    color: $c-neutro700;
    max-width: 100%;
    width: 100%;

    .u-close {
        cursor: pointer;
        
        svg {
            margin-left: space(.4);
            pointer-events: none;
            width: get-rems(15px);
        }
    }
}

// Extra border underneath header
thead th {
    border-bottom: 2px solid $c-neutro800;
}

// Extra border above footer
tfoot th {
    border-top: 2px solid $c-neutro800;
}

td {
    border-bottom: 1px solid $c-neutro800;
}

th,
td {
    padding: .5rem;
    text-align: center;
}

caption {
    caption-side: bottom;
    padding: $padding 0;
    // color: $caption;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: $stripes;
}

// Container for responsive tables
.contain-table {
    overflow-x: auto;
}

// @include small-breakpoint {
//     .contain-table {
//     width: 100%;
//     }
// }
