$c-white: #fff;
$c-black: #000;

$c-neutro100: #f2f2f2;
$c-neutro200: #f4f7fb;
$c-neutro300:#c6d2e1;
$c-neutro400: #959595;
$c-neutro500: #1f3349;
$c-neutro600: #425870;
$c-neutro700: #5b7897;
$c-neutro800: #e7e9f3;

// $c-secondary: #01b6fd;
$c-secondary100: #4264fb;
$c-secondary200: #314ccd;

$c-filter1: #729efd;
$c-filter1-op: #b7cefe;
$c-filter2: #ff7491;
$c-filter3: #ffa664;
$c-filter4: #b25cfd;
$c-filter5: #48cfaf;


$c-border: $c-neutro300;

$c-error: #ff1940;

//==============================================================================
// Tables
//==============================================================================

$stripes: #f8f8f8 !default;
