@import 'config';
// @import 'media-queries';
// @import 'form';
@import 'typography';

$modularscale: (
    base: 1rem,
    ratio: $font-ratio
);

//==============================================================================
// Spacing
//==============================================================================

$padding: space();
$margins: space(1.5);
