.u-center { margin: 0 auto; }
.u-fullwidth { width: 100%; }
.u-center-text { text-align: center; }
.u-text-bold { font-weight: 700; }

.u-close {
    svg {
        cursor: pointer;
        width: get-rems(15px) !important;

        fill: $c-neutro300;
    }

    &:hover {
        svg {
            fill: $c-neutro700;
        }
    }
}

.u-nomargin { margin:0 !important; }

.u-component {
    padding-top: space(2);
    padding-bottom: space(2);

    @include breakpoint($s768) {
        padding-top: space(2);
        padding-bottom: space(2);
    }
}

.u-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.u-hidden {
    opacity: 0;
    visibility: hidden;
}

.u-message {
    background-color: $c-message;
    border-radius: get-rems(5px);
    color: $c-success;
    padding: space();
}