<div class="applied-filters-list" id="js-applied-filters-list">
    <div>
        <button class="cta">Ocultar filtros</button>
        <button class="cta cta--secondary" id="js-download">Decargar pdf</button>
    </div>
    <div class="applied-filters-list__tags u-flex">
        <div class="applied-filters-list__number"></div>
        <div class="applied-filters-list__citie"></div>
        <div class="applied-filters-list__subject"></div>
        <div class="applied-filters-list__center"></div>
        <button class="clear cta cta--hollow u-hide" id="js-clearall">Eliminar filtros</button>
    </div>
</div>
