<div class="applied-filters-list" id="js-applied-filters-list">
    <div class="applied-filters-list__buttons">
        <button class="cta" id="js-hide-aside">Ver filtros</button>
        <button class="cta cta--secondary" id="js-download">Decargar pdf</button>
    </div>
    <div class="applied-filters-list__tags u-flex">
        <button class="applied-filters-list__clear clear cta cta--hollow u-hide" id="js-clearall">Eliminar filtros</button>
    </div>
</div>
