{% set text = text|default('') %}
{% set class = class|default('') %}

<div class="applied-filter u-flex {{ class }}">
    <div class="applied-filter__icon u-flex u-flex--center">
        <span class="wrapper-svg u-icon u-flex--inline u-close" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
            {% include '../svg/icon-hospital.twig' %}
        </span>
    </div>
    <div class="u-flex">
        <span>{{ text }}</span>
        <span class="applied-filter__delete wrapper-svg u-icon u-close" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
            {% include '../svg/icon-delete.twig' %}
        </span>
    </div>
</div>
