<div class="billboard" style="background-image: url('../../assets/billboard.png');">
    <div class="billboard__content u-wrapper">
        <h1 class="billboard__text u-nomargin">How Mapbox Works</h1>
        <h2>Selecciona <span>año</span></h2>
        <p class="billboard__text">Learn about the building blocks that Mapbox provides so you can create custom mapping applications.</p>
        <h2>Filtra resultados</h2>
        <p class="billboard__text">Learn about the building blocks that Mapbox provides so you can create custom mapping applications.</p>
        <h2>Descarga selección</h2>
        <p class="billboard__text">Learn about the building blocks that Mapbox provides so you can create custom mapping applications.</p>
    </div>
    <div class="billboard__buttons">
        <div class=" u-wrapper u-flex u-flex--justify-between">
            <div>
                <button class="cta p-small">Filtros</button>
            </div>
            {% include '../components/view-buttons.twig' %}
        </div>
    </div>
</div>
