<div class="billboard">
    <div class="billboard__content u-wrapper u-wrapper--reading u-component u-flex">
        <div class="billboard__text">
            <h1 class="u-nomargin">Consulta la lista de plazas <span>MIR</span> asignadas</h1>
            <p class="p-big">Filtra las plazas según tus preferencias y descarga un pdf con tus favoritas</p>
            <button class="cta cta--secondary p-small" id="js-golist">Ir a la  lista</button>
        </div>
    </div>
    <!--<div class="billboard__buttons">
        <div class=" u-wrapper u-flex u-flex--justify-between">
            {% include '../components/view-buttons.twig' %}
        </div>
    </div>-->
</div>
