<div class="billboard">
    <div class="billboard__content u-wrapper u-wrapper--reading u-flex">
        <div class="billboard__text">
            <h1 class="u-nomargin">Lista plazas <span>MIR</span></h1>
            <p class="p-big">Selecciona año, filtra resultados, descarga lista de favoritos</p>
            <button class="cta cta--secondary p-small">Ir a la  lista</button>
        </div>
    </div>
    <!--<div class="billboard__buttons">
        <div class=" u-wrapper u-flex u-flex--justify-between">
            <div>
                <button class="cta p-small">Filtros</button>
            </div>
            {% include '../components/view-buttons.twig' %}
        </div>
    </div>-->
</div>
