<div class="filters">
    <h4 class="filters__title u-show u-hide--s768 u-center-text">Filtros</h4>
    <ul class="filters__list">
        <li class="filters__item">
            <div class="u-flex">
                <span class="wrapper-svg u-icon u-flex--inline">
                    {% include '../svg/icon-podium.twig' %}
                </span>
                <span>Puesto</span>
            </div>
            <input value="2500" type="number" id="js-puesto" name="puesto"  min="1" max="12700">
        </li>
        <li class="filters__item">
            <div class="filters__place u-flex u-flex--justify-between" id="js-filter-place">
                <div class="u-flex">
                    <span>
                        {% include '../svg/icon-location.twig' %}
                    </span>
                    <span>Provincia</span>
                </div>
                <div>
                    <span class="filters__more u-flex--inline">
                        {% include '../svg/icon-plus.twig' %}
                    </span>
                    <span class="filters__less u-flex--inline">
                        {% include '../svg/icon-less.twig' %}
                    </span>
                </div>
            </div>
            <div class="filters__checks" id="selectPlace"></div>
        </li>
        <li class="filters__item">
            <div class="filters__subject u-flex u-flex--justify-between" id="js-filter-subject">
                <div class="u-flex">
                    <span class="wrapper-svg u-icon u-flex--inline">
                        {% include '../svg/icon-doctor.twig' %}
                    </span>
                    <span>Especialidad</span>
                </div>
                <div>
                    <span class="filters__more u-flex--inline">
                        {% include '../svg/icon-plus.twig' %}
                    </span>
                    <span class="filters__less u-flex--inline">
                        {% include '../svg/icon-less.twig' %}
                    </span>
                </div>
            </div>
            <div class="filters__checks" id="selectSubject"></div>
        </li>
        <li class="filters__item">
            <div class="filters__center u-flex u-flex--justify-between" id="js-filter-center">
                <div class="u-flex">
                    <span class="wrapper-svg u-icon u-flex--inline">
                        {% include '../svg/icon-hospital.twig' %}
                    </span>
                    <span>Centro</span>
                </div>
                <div>
                    <span class="filters__more u-flex--inline">
                        {% include '../svg/icon-plus.twig' %}
                    </span>
                    <span class="filters__less u-flex--inline">
                        {% include '../svg/icon-less.twig' %}
                    </span>
                </div>
            </div>
            <div class="filters__checks" id="selectCenter"></div>
        </li>
    </ul>
</div>
