<header class="header">
    <div class="u-wrapper u-flex u-flex--justify-between">
        <a class="header__link u-nomargin t-title2" href="">
            <b>lista<span class="header__link-color">mir</span>.es</b></p>
        </a>
        <span class="u-icon header__menu-hamburger u-show u-hide--s768" id="js-hamburger">
            {% include '../svg/icon-hamburger.twig' %}
        </span>
        <div class="header__menu u-hide u-show--s768" id="js-menu">
            <span class="header__menu-link" id="js-link-how">Cómo funciona</span>
            <span class="header__menu-link" id="">About</span>
            <span class="header__menu-link u-show u-hide--s768" id="js-link-list"><b>Ir a la lista</b></span>
            <span class="u-icon header__menu-close u-show u-hide--s768" id="js-closeMenu">
                {% include '../svg/icon-close.twig' %}
            </span>
        </div>
    </div>
</header>
