<header id="header" class="header {% block headerClasses %}{% endblock %}">
    <div class="u-wrapper u-flex u-flex--justify-between">
        <a class="header__link u-nomargin t-title2" href="">
            <b>lista<span class="header__link-color">mir</span>.es</b></p>
        </a>
        <div>
            <a class="header__link u-nomargin" href="">Cómo funciona</a>
            <a class="header__link u-nomargin" href="">About</a>
        </div>
    </div>
</header>
