<div class="table-wiew__wrapper" id="js-tableview">
    <table class="table-wiew__table" id="table">
        <thead>
            <tr class="thead">
                <th class="table-wiew__number">Puesto</th>
                <th class="table-wiew__area">Especialidad</th>
                <th class="table-wiew__hospital">Centro</th>
                <th class="table-wiew__place">Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="js-table-body">

        </tbody>
        <tr>
            <td class="p-small" colspan="5">Has llegado al final de la tabla.</td>
        </tr>
    </table>
</div>
