<div class="three-columns u-wrapper u-wrapper--reading u-component" id="js-section-how">
    <h2 class="u-center-text">¿Cómo funciona?</h2>
    <div class="three-columns__content u-flex u-flex--wrap">
        <div class="three-columns__component u-center-text">
            <h3 class="u-nomargin"><span class="u-text-bold">1.</span> Selecciona año</h3>
            <p>Accede a la lista de plazas mir asignadas</p>
        </div>
        <div class="three-columns__component u-center-text">
            <h3 class="u-nomargin"><span class="u-text-bold">2.</span> Filtra resultados</h3>
            <p>Usa los diferentes filtros para visualizar a las plazas que más te interesen<p>
        </div>
        <div class="three-columns__component u-center-text">
            <h3 class="u-nomargin"><span class="u-text-bold">3.</span> Descarga pdf</h3>
            <p>Descarga una lista de tus favoritos en pdf</p>
        </div>
    </div>
</div>