<!DOCTYPE html>
<html lang="{% block locale %}es{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="page {% block page_class %}{% endblock %}">
        {% block header %}{% endblock %}
        <main class="main" role="main">
            {% block main %}{% endblock %}
        </main>
        {% block footer %}{% endblock %}
    </div>
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.40/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.40/vfs_fonts.js"></script>
        <script>
            const htmlDownloadBtn = document.querySelector('#js-download');
            document.addEventListener('DOMContentLoaded', () => {
                htmlDownloadBtn.addEventListener('click', () => {
                    const placesPdf = JSON.parse(sessionStorage.getItem('places'));

                    const rows = [
                                    [
                                        { 
                                            text: 'Puesto',
                                            fontSize: 9,
                                            bold: true,
                                        }, 
                                        {
                                            text: 'Especialidad',
                                            fontSize: 9,
                                            bold: true,
                                            },
                                        { 
                                            text: 'Centro',
                                            fontSize: 9,
                                            bold: true,
                                        },
                                        {
                                            text: 'Provincia',
                                            fontSize: 9,
                                            bold: true
                                        }
                                    ]
                                ];

                    const createPdfRow = (element) => {
                        const row = [
                                        { 
                                            text: element.numero,
                                            fontSize: 9,
                                            bold: true,
                                        }, 
                                        {
                                            text: element.especialidad,
                                            fontSize: 9,
                                            bold: true,
                                            },
                                        { 
                                            text: element.centro,
                                            fontSize: 9,
                                            bold: true,
                                        },
                                        {
                                            text: element.localidad,
                                            fontSize: 9,
                                            bold: true
                                        }
                                    ]
                        rows.push(row);
                    };

                    const addRows = () => {
                        placesPdf.forEach(createPdfRow);
                    }

                    const printPdf = () => {
                        const docDefinition = {
                            content: [
                                { 
                                    alignment: 'center',
                                    text: 'Mi lista',
                                    style: 'header',
                                    fontSize: 23,
                                    bold: true,
                                    margin: [0, 10],
                                },
                                {
                                    margin: [0, 0, 0, 10],
                                    layout: {
                                        fillColor: function (rowIndex, node, columnIndex) {
                                            return (rowIndex % 2 === 0) ? '#ebebeb' : '#f5f5f5';
                                        }
                                    },
                                    table: {
                                        widths: ['100%'],
                                        heights: [20,10],
                                        body: [
                                            [
                                                { 
                                                    text: '',
                                                    fontSize: 9,
                                                    bold: true,
                                                }
                                            ],
                                            [
                                                { 
                                                    text: '',
                                                    fontSize: 9,
                                                    bold: true
                                                }
                                            ],
                                        ],
                                    }
                                },
                                {
                                    style: 'tableExample',
                                    layout: {
                                        fillColor: function (rowIndex, node, columnIndex) {
                                            return (rowIndex === 0) ? '#c2dec2' : null;
                                        }
                                    },
                                    table: {
                                        widths: ['10%', '30%', '30%', '30%'],
                                        heights: [10,10,10,10,10,10,10],
                                        headerRows: 1,
                                        body: rows,
                                    }
                                }
                            ]
                        };

                        const pdf = createPdf(docDefinition);
                        pdf.download('mi-lista.pdf');
                    }

                    console.log('pdf list');
                    addRows();
                    printPdf();
                });
            });
        </script>
    {% endblock %}
</body>
</html>
