html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    * { box-sizing: inherit; }
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

@import 'scss/settings/colors';

@import 'scss/settings/variables';
@import 'scss/tools/mixins';
@import 'scss/tools/functions';
@import 'scss/settings/media-queries';
@import 'scss/tools/media-queries';
@import 'scss/settings/config';
@import 'scss/settings/typography';
@import 'scss/generic/typography';
@import 'scss/extends/typography';
@import 'scss/extends/button';
@import 'scss/utilities/wrapper';
@import 'scss/utilities/flex-grid--basic';
@import 'scss/utilities/utilities';
@import 'scss/utilities/visibility';


//==============================================================================
// Pages
//==============================================================================
@import 'scss/pages/home';

//==============================================================================
// Components
//==============================================================================

@import 'scss/components/forms';
@import 'scss/components/tables';
@import 'scss/components/cta';
@import 'scss/components/filters';
@import 'scss/components/applied-filters-list';
@import 'scss/components/applied-filter';
@import 'scss/components/view-buttons';
@import 'scss/components/header';
@import 'scss/components/billboard';
@import 'scss/components/three-columns';
@import 'scss/components/table-view';
@import 'scss/components/map';

/* Map */
@import '../node_modules/leaflet/dist/leaflet.css';
