<span class="wrapper-svg u-icon u-flex--inline {% block class %} {% endblock %}" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
    {% block wrapper %}
        icon
    {% endblock %}
</span>
